@{
    ViewData["Title"] = "InformacionInstitucional";
}
<h1>Información institucional</h1>


<p>
    El Foro-D nació con el objeto de cooperar compartir y entretener a los distintos  tipos de Usuario con diversos Posts categorizados para cada gusto, teniendo en cuenta el respeto mutuo y la buena interacción entre cibernautas y no entrando en agresiones personales, como respuesta a un lugar donde  se pueda discutir y despejar dudas sobre cualquier tema.
    <br />
    <h2>Misión</h2>
    <div class="navbar-header">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Imagen/mision.jpg" alt="Site Logo" style="height:400px; width: 600px" />
            </a>
        </div>

    </div>
    <h2>Visión</h2>
    <div class="navbar-header">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Imagen/Vision.jpg" alt="Site Logo" style="height:400px; width: 600px" />
            </a>
        </div>

    </div>

